@use '../helpers';

.card{
    // border: 1px solid helpers.setColor(bg-primary);
    min-height: 25vh;
    text-align: center;
    border-radius: 10px;
    &__image{
        border-radius: 10px;
        width: 250px;
        height: 300px;
        object-fit: scale-down;
        cursor: pointer;
        transition: transform 400ms ease-in-out;
        &:hover{
            transform: scale(1.04);
        }
    }

    &__add-book{
        width: 250px;
        height: 300px;
        cursor: pointer;
        transition: transform 400ms ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover{
            transform: scale(1.04);
        }
        text-align: center;
        &>i{
            font-size: 250px;
            color: helpers.setColor(bg-secondary);
            transition: color 400ms ease-in-out;
            &:hover{
                color: helpers.setColor(primary);
            }
        }
    }
    
    &__description{
        padding: 0.50rem 2rem;
        &>a{
            font-family: "Roboto Mono", monospace;
            color: helpers.setColor(text-primary);
            cursor: pointer;
            text-decoration: none;
            transition: color 400ms ease-in;
            &:hover{
                color: helpers.setColor(primary);
            }
        }
        
    }
}