@use '../helpers';

.card{
    // border: 1px solid helpers.setColor(bg-primary);
    min-height: 25vh;
    text-align: center;
    border-radius: 10px;
    &__image{
        border-radius: 10px;
        width: 250px;
        height: 300px;
        object-fit: scale-down;
        cursor: pointer;
        transition: transform 400ms ease-in-out;
        &:hover{
            transform: scale(1.04);
        }
    }
    
    &__description{
        padding: 0.50rem;
        &>a{
            cursor: pointer;
            text-decoration: none;
            transition: color 400ms ease-in;
            &:hover{
                color: helpers.setColor(primary);
            }
        }
        
    }
}