@use '../helpers';

.navbar{
    background-color: helpers.setColor(bg-primary);
    border: none;
    box-shadow:
        0.7px 0.1px 1.4px rgba(0, 0, 0, 0.02),
        1.7px 0.3px 3.4px rgba(0, 0, 0, 0.028),
        3.1px 0.6px 6.4px rgba(0, 0, 0, 0.035),
        5.6px 1.1px 11.4px rgba(0, 0, 0, 0.042),
        10.4px 2.1px 21.3px rgba(0, 0, 0, 0.05),
        25px 5px 51px rgba(0, 0, 0, 0.07);

    &>:last-child{
        padding: 0.75rem 0;
    }

    &__header{
        display: flex;
        padding: 0.75rem 3.5rem;
        align-items: center;
    }

    &__logo{
        
        // margin-left: 1rem;
        // text-align: center;
        margin-right: auto;
        a{
            list-style: none;
            text-decoration: none;
        }
        
        @include helpers.media(helpers.$tablet) {
            text-align: left;
            // margin-left: 3rem;
        }
    }

    &__user_menu{
        background-color: helpers.setColor(primary);
        width: 70px;
        height: 70px;
        border-radius: 50%;
        line-height: 70px;
        text-align: center;
        color: helpers.setColor(bg-primary);
        font-weight: bolder;
        font-size: larger;
        box-shadow: 0.5px 0.5px  rgba(0,0,0,0.6),-0.5px -0.5px  rgba(0,0,0,0.6);
        z-index: 2;
        cursor: pointer;
        
        &:hover + &__logout,
        &:focus + &__logout,
        &__logout:hover,
        &__logout:focus{
            visibility: visible;
            opacity: 1;
            width: 90px;
            padding: 0.75rem 1.25rem;
        }
        
        &__logout{
            visibility: hidden;
            opacity: 0;
            font-weight: bolder;
            margin-left: -10px;
            cursor: pointer;
            background-color: helpers.setColor(primary);
            color: helpers.setColor(bg-primary);
            // position: absolute;
            // top: 11px;
            // left: 88%;
            border-top-right-radius : 10px;
            border-bottom-right-radius : 10px;
            transition: all 400ms ease-in-out;
            width: 0;

            &:hover{
                background-color: darken(helpers.setColor(primary),20%);
            }
        }
    }
}
.menu{
    display: flex;
    flex-direction: column;
    @include helpers.media(helpers.$tablet) {
        flex-direction: row;
    }
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    margin: 0 1rem;
    @include helpers.media(helpers.$tablet) {
        margin: 0 3rem;
            
    }

    &__items{
        list-style: none;
        &>a{
            text-decoration: none;
            transition: color 400ms ease-in-out;
            &:hover{
                color: helpers.setColor(primary);
            }
        }
    }
    &>:last-child{
        @include helpers.media(helpers.$tablet) {
            margin-left: auto;
        }
    }
    &__search{
        padding: 0.30rem 0;
        width: 250px;
        outline: none;
        border: none;
        padding-left: 0.50rem;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
    }
    &__search__btn{
        @include helpers.buttons;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        background-color: #FFFFFF;
        padding: 0.30rem 0.50rem;

        &>i{
            pointer-events: none;
        }
    }
}