@use '../helpers';

.book{
    // border: 1px solid helpers.setColor(bg-primary);
    min-height: 25vh;
    text-align: center;
    border-radius: 10px;
    padding: 2rem 0;

    &__title{
        color: helpers.setColor(text-primary);
    }
    
    &__body{
        &>*{
            padding-top: 1rem;
        }
        
        &__image{
            border-radius: 10px;
            width: 350px;
            height: 500px;
            object-fit: scale-down;

            @include helpers.media(helpers.$desktop) {
                width: 450px;
                height: 600px;
            }
            @include helpers.media(helpers.$lg-desktop) {
                width: 600px;
                height: 750px;
              }
        }
        &__description{
            display: flex;
            flex-direction: column;
            &>*{
                padding-top: 1rem;
            }
            a{
                @include helpers.buttons;
                border-radius: 10px;
                margin: 0 1rem;
                color: helpers.setColor(bg-tertiary);
                cursor: pointer;
                text-decoration: none;
                transition: color 400ms ease-in;
                &:hover{
                    color: helpers.setColor(primary);
                }
                i{
                    color: helpers.setColor(bg-tertiary);
                }

            }
        }

        &__buttons{
            padding-top: 2rem;
        }
    }
}
