@use 'helpers';

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: helpers.setColor(text-primary);
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    background-color: helpers.setColor(bg-tertiary);
  }

  h1{
    font-family: 'Roboto Mono', monospace;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  .container{
    min-height: 50vh;
    max-width: 100vw;
    padding: 1rem;
    text-align: center;
  }

  .container--grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-content: center;
    justify-items: center;
    gap: 1rem;
    @include helpers.media(helpers.$tablet) {
      grid-template-columns: repeat(3, 1fr);
    }
    @include helpers.media(helpers.$desktop) {
      grid-template-columns: repeat(4, 1fr);
    }
    @include helpers.media(helpers.$lg-desktop) {
      grid-template-columns: repeat(5, 1fr);
    }
  }
  