//==================== Global variables ====================

//==================== Color variables ====================
$gradient: linear-gradient(135deg, hsla(176, 100%, 39%, 1) 0%, hsla(196, 45%, 62%, 1) 30%, hsla(187, 50%, 55%, 1) 70%, hsla(218, 37%, 70%, 1) 100%);


$lightPalette : (
    'primary' : #00C6BA,
    'secondary' : #97ACCF,
    'bg-primary': #EEF1F7,
    'bg-secondary': #A6ABB6,
    'bg-tertiary': #FFFFFE, // navigation bar
    'text-primary': #464646
);

//==================== Size variables ====================
$lg-phone: 425px;
$tablet: 700px;
$lg-tablet: 800px;
$desktop: 1024px;
$lg-desktop: 1370px;

//==================== Functions ====================

// This function get the color of the map $lightPalette
@function setColor( $color ){
    @return map-get($lightPalette , $color ) 
};

//==================== Mixins ====================

// Mixin for styling buttons
@mixin buttons {
    background-color: setColor(primary);
    font-weight: 800;
    color: setColor(bg-secondary);
    padding: 0.75rem 1.225rem;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background 400ms ease-in-out;
    &:focus,
    &:hover{
        background-color: lighten(setColor( primary),15);
    }
    
}

// Mixin for Media Queries
@mixin media( $size ) {
    @media only screen and (min-width: $size ){
        @content;
    }
}

// ANIMATIONS
.fadeIn{
    animation: fade-in 400ms ease-in-out forwards;
}

.fadeOut{
    animation: fade-out 400ms ease-in-out forwards;
}

.fadeOut-inside-elements{
    &>*{
        animation: fade-out 400ms ease-in-out forwards;
    }
}